SOURCES__SALESFORCE__CREDENTIALS__USER_NAME=""
SOURCES__SALESFORCE__CREDENTIALS__PASSWORD=""
SOURCES__SALESFORCE__CREDENTIALS__SECURITY_TOKEN=""

ICEBERG_CATALOG_URL="http://lakekeeper.lakekeeper:8181/catalog"
ICEBERG_WAREHOUSE="demo1"
ICEBERG_NAMESPACE="salesforce"
ICEBERG_TOKEN=""

BATCH_SIZE="1000"

DUMP_TO_DUCKDB="false"
